{
    "url": "https://api.github.com/repos/SLAzurin/gpq-image-ocr/releases/139045296",
    "assets_url": "https://api.github.com/repos/SLAzurin/gpq-image-ocr/releases/139045296/assets",
    "upload_url": "https://uploads.github.com/repos/SLAzurin/gpq-image-ocr/releases/139045296/assets{?name,label}",
    "html_url": "https://github.com/SLAzurin/gpq-image-ocr/releases/tag/nightly-36d597dde23b8b215fbf0137235a98a30a4e3a6e",
    "id": 139045296,
    "author": {
        "login": "github-actions[bot]",
        "id": 41898282,
        "node_id": "MDM6Qm90NDE4OTgyODI=",
        "avatar_url": "https://avatars.githubusercontent.com/in/15368?v=4",
        "gravatar_id": "",
        "url": "https://api.github.com/users/github-actions%5Bbot%5D",
        "html_url": "https://github.com/apps/github-actions",
        "followers_url": "https://api.github.com/users/github-actions%5Bbot%5D/followers",
        "following_url": "https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}",
        "gists_url": "https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}",
        "starred_url": "https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}",
        "subscriptions_url": "https://api.github.com/users/github-actions%5Bbot%5D/subscriptions",
        "organizations_url": "https://api.github.com/users/github-actions%5Bbot%5D/orgs",
        "repos_url": "https://api.github.com/users/github-actions%5Bbot%5D/repos",
        "events_url": "https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}",
        "received_events_url": "https://api.github.com/users/github-actions%5Bbot%5D/received_events",
        "type": "Bot",
        "site_admin": false
    },
    "node_id": "RE_kwDOLCCNos4ISamw",
    "tag_name": "nightly-36d597dde23b8b215fbf0137235a98a30a4e3a6e",
    "target_commitish": "master",
    "name": "Release gpq-image-ocr nightly-36d597dde23b8b215fbf0137235a98a30a4e3a6e",
    "draft": false,
    "prerelease": false,
    "created_at": "2024-01-30T02:38:02Z",
    "published_at": "2024-01-30T02:39:28Z",
    "assets": [
        {
            "url": "https://api.github.com/repos/SLAzurin/gpq-image-ocr/releases/assets/148621569",
            "id": 148621569,
            "node_id": "RA_kwDOLCCNos4I28kB",
            "name": "gpq-nightly-36d597dde23b8b215fbf0137235a98a30a4e3a6e.zip",
            "label": "",
            "uploader": {
                "login": "github-actions[bot]",
                "id": 41898282,
                "node_id": "MDM6Qm90NDE4OTgyODI=",
                "avatar_url": "https://avatars.githubusercontent.com/in/15368?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/github-actions%5Bbot%5D",
                "html_url": "https://github.com/apps/github-actions",
                "followers_url": "https://api.github.com/users/github-actions%5Bbot%5D/followers",
                "following_url": "https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}",
                "gists_url": "https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/github-actions%5Bbot%5D/subscriptions",
                "organizations_url": "https://api.github.com/users/github-actions%5Bbot%5D/orgs",
                "repos_url": "https://api.github.com/users/github-actions%5Bbot%5D/repos",
                "events_url": "https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}",
                "received_events_url": "https://api.github.com/users/github-actions%5Bbot%5D/received_events",
                "type": "Bot",
                "site_admin": false
            },
            "content_type": "application/zip",
            "state": "uploaded",
            "size": 62873908,
            "download_count": 0,
            "created_at": "2024-01-30T02:39:28Z",
            "updated_at": "2024-01-30T02:39:30Z",
            "browser_download_url": "https://github.com/SLAzurin/gpq-image-ocr/releases/download/nightly-36d597dde23b8b215fbf0137235a98a30a4e3a6e/gpq-nightly-36d597dde23b8b215fbf0137235a98a30a4e3a6e.zip"
        }
    ],
    "tarball_url": "https://api.github.com/repos/SLAzurin/gpq-image-ocr/tarball/nightly-36d597dde23b8b215fbf0137235a98a30a4e3a6e",
    "zipball_url": "https://api.github.com/repos/SLAzurin/gpq-image-ocr/zipball/nightly-36d597dde23b8b215fbf0137235a98a30a4e3a6e",
    "body": "Add --subprocess flag (#2)\r\n\r\n* add subprocess flag refactor\r\n"
}